{% extends "../base.jinja2" %}
{% block title %}Обо мне{% endblock %}
{% block content %}
    <h1>Евгений Русанов</h1>
    <img src="http://dudev.ru/test/me.jpg" alt="">
    <p>Помогаю подросткам 8-11 классов найти себя и раскрыть свой потенциал, даже если в них никто не верит</p>
    <p>Кредо: схавать жизнь огромной ложкой</p>
    <p>{{ link|safe }}</p>
{% endblock %}